[Unit]
Description=HappENV PHP Root Service

[Service]
User=root
Type=simple
TimeoutSec=0
PIDFile=/var/run/happenvd.pid
ExecStart=/usr/bin/php -S 127.0.0.1:8888 -t /usr/lib/happenv/php
#ExecStop=/bin/kill -HUP $MAINPID #It's the default you can change whats happens on stop command
#ExecReload=/bin/kill -HUP $MAINPID
#KillMode=process

Restart=on-failure
RestartSec=42s

StandardOutput=null #If you don't want to make toms of logs you can set it null if you sent a file or some other options it will send all php output to this one.
StandardError=/var/log/happenv.log
[Install]
WantedBy=default.target